@tailwind base;
@tailwind components;
@tailwind utilities;

p span {
  display: block;
}

.title-header {
  animation: fade-out linear;
  animation-timeline: view();
  animation-range: exit -200px;
}

.about-me {
  animation: fade-in linear;
  animation-timeline: view();
  animation-range: entry;
}

.project-title {
  animation: fade-in linear;
  animation-timeline: view();
  animation-range: entry;
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
